# Exercises tuples

## Understanding errors

In [2]:
nums = ( 1, 2, 3 )
nums[1] = 22

# error because we are using a tuple, which is immutable.

TypeError: 'tuple' object does not support item assignment

In [4]:
nums = [ 1, 2, 3 ]
nums[3] = 4 

#error because the index 3 is out of the range of the list.

IndexError: list assignment index out of range

In [6]:
txt = "Statistics"
txt[0] = "s"

# error because strings are immutable. You cannot change the S to s

TypeError: 'str' object does not support item assignment

## Understand difference

In [9]:
v = [ 1, 2, 3 ]
a = v
v = [ 4, 5, 6 ]
a

[1, 2, 3]

In [11]:
v = [ 1, 2, 3 ]
b = v
v[:] = [ 4, 5, 6 ]
b

## b becomes [4,5,6] because the list is changed in the same place. 
## a remains [1,2,3] because a is assigned to v=[1,2,3], after v is reassigned to [4,5,6] but a still points to the old list.

[4, 5, 6]

## Changing (or not) lists

In [14]:
v = [ 5, 2, 1, 4, 3 ]
sorted(v)

[1, 2, 3, 4, 5]

In [15]:
v = [ 5, 2, 1, 4, 3 ]
sorted(v, reverse=True)

[5, 4, 3, 2, 1]

In [24]:
v = [ 5, 2, 1, 4, 3 ]
w = v
v=sorted(v)
w

[5, 2, 1, 4, 3]

In [25]:
v

[1, 2, 3, 4, 5]

In [34]:
v = [ 5, 2, 1, 4, 3 ]
v.reverse()
v

[3, 4, 1, 2, 5]

In [58]:
v = [ 5, 2, 1, 4, 3 ]
w = v[:]
v = v.reverse()
w

[5, 2, 1, 4, 3]

In [57]:
v

In [60]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
del(v[2])
v

['eeeee', 'bb', 'dddd', 'ccc', 'bb']

In [65]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
del(v[1])
v

['eeeee', 'a', 'dddd', 'ccc', 'bb']

In [72]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.insert(2,"F")
v

['eeeee', 'bb', 'F', 'a', 'dddd', 'ccc', 'bb']

In [78]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]

v[2:2] = w
v

['eeeee', 'bb', 'ffffff', 'g', 'ffffff', 'a', 'dddd', 'ccc', 'bb']

In [81]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.append("F")
v

['eeeee', 'bb', 'a', 'dddd', 'ccc', 'bb', 'F']

In [84]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]

v.extend(w)
v
# append only adds one element, extend adds multiple elements from an iterable

['eeeee', 'bb', 'a', 'dddd', 'ccc', 'bb', 'ffffff', 'g', 'ffffff']

## Checking membership

In [95]:
w in v

True

In [97]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "abaab"

w not in v

True

## Understand conversions

In [98]:
lst = [1,2,3,"x","y","z"]
tuple( lst )

(1, 2, 3, 'x', 'y', 'z')

In [99]:
type(tuple( lst ))

tuple

In [100]:
tpl = (1,2,3,"x","y","z")
list( tpl )

[1, 2, 3, 'x', 'y', 'z']

In [101]:
type(list( tpl ))

list

In [102]:
tuple( "Statistics" )

('S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's')

In [103]:
list( 'Data Science' )

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

## Comprehensions and a generator

In [105]:
xs = [ 0, 1, 2, 3, 4, 5 ]

ys= [x*x + x + 1 for x in xs]
ys

[1, 3, 7, 13, 21, 31]

In [111]:
xs2=range(6)
type(xs2)
ys2= [x*x + x + 1 for x in xs2]
ys2

#this works because range is iterable and produces the same values as the list xs.

[1, 3, 7, 13, 21, 31]

In [118]:
toRemove = "bb"
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]

w = [n for n in v if n != toRemove]
w

['eeeee', 'a', 'dddd', 'ccc']

In [119]:
toRemove = [ "bb", "a" ]
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]

w = [n for n in v if n not in toRemove]
w

['eeeee', 'dddd', 'ccc']

In [120]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "aaaqb", "abbaa", "ababab" ]

all(n in v for n in w) #you cannot do w in v because that checks if the list w is an element of v

True

In [123]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "abaaa", "bbbab", "qbbbq" ]

any(n not in v for n in w) #it checks if at least one element of w is not in v

True

## Comprehensions with tuple elements

In [124]:
heights = [ 173, 179, 167, 195, 173, 184, 162, 169 ]  # 8 persons
weights = [ 57, 58, 62, 84, 64, 74, 57, 44 ]          # same 8 persons, same order
zip( heights, weights )                # this is a generator of ( height, weight ) tuples
list( zip( heights, weights ) )        # when converted to list you see the tuples

[v/(h*h) for h,v in list( zip( heights, weights ) ) ]  # BMI = weight(kg) / height(m)^2

[0.0019045073340238565,
 0.0018101807059704754,
 0.0022230987127541324,
 0.0022090729783037473,
 0.0021383941996057335,
 0.002185727788279773,
 0.0021719250114311845,
 0.0015405623052414132]

In [125]:
heights = [ 173, 179, 167, 195, 173, 184, 162, 169 ]  # 8 persons
enumerate( heights )                   # this is a generator of ( index, element ) tuple pairs
tuple( enumerate( heights ) )

((0, 173),
 (1, 179),
 (2, 167),
 (3, 195),
 (4, 173),
 (5, 184),
 (6, 162),
 (7, 169))

## Indexing nested list

In [126]:
nestedList = [ "a", [ "ba", [ "bba", "bbb" ], "bc", [ "bda", "bdb" ], "be" ], "c", [ [ "daa", "dab" ] ] ]
nestedList

['a',
 ['ba', ['bba', 'bbb'], 'bc', ['bda', 'bdb'], 'be'],
 'c',
 [['daa', 'dab']]]